# m h  dom mon dow   command
48 * * * * ~/local/bin/ruby ~/local/src/emoticommits/bin/record_activity.rb ~/var/events.sqlite ~/var/locations.sqlite 90
# cd ~/local/src
# git clone git@github.com:zunda/emoticommits.git emoticommits-gh-pages
# cd emoticommits-gh-pages
# git checkout gh-pages
30 * * * * cd ~/local/src/emoticommits-gh-pages; git pull -q; ~/local/bin/ruby ~/local/src/emoticommits/bin/create_markers.rb ~/var/locations.sqlite ~/var/events.sqlite ~/local/src/emoticommits-gh-pages/markers 1; find markers -ctime 14 -exec git rm -q {} \; ; git add markers/*.json; git commit -q -m 'auto commit'; git push -q origin gh-pages
