html {
  margin: 0;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: black;
  color: white;
  font-family: sans-serif;
}

div {
  margin 0;
  padding 0;
}

div#header {
  height: 2.6em;
  display: table;
}

div#title {
  display: table-cell;
  vertical-align: middle;
}

div#description {
  display: table-cell;
  vertical-align: middle;
}

div#control {
  height: 1.5em;
  overflow: hidden;
}

div#control_left {
  float: left;
}

div#control_right {
  float: right;
}

div#control:after {
  clear: both;
}

h1 {
  padding: 0;
  margin: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

div#description > h1 {
  overflow: hidden;
  height: 2.6em;
}

p, form {
  padding: 0;
  margin: 0.2em 0.5em 0.2em 0.5em;
  font-size: 1em;
}

div#description > p {
  overflow: hidden;
  max-height: 2.6em;
}

select, input {
  background: #108eef;
  color: white;
  border: none;
}

input[disabled] {
  color: #30aeff;
}

select option {
  background: #ffffff;
  color: #000000;
  border: none;
}

a {
  text-decoration: none;
  color: #108eef;
}

a img {
  border: none;
}

a:hover {
  color: #30aeff;
}

div#main {
  display: block;
  position: absolute;
  height: auto;
  top:  5.5em;
  bottom: 0em;
  width: 100%;
}

iframe#mapframe {
  width: 100%;
  height: 100%;
}
